<ion-app>
  <!-- <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      <ion-button color="primary" [routerLink]="['/register']" >Add student</ion-button>
    <ion-button color="primary"  [routerLink]="['/home']">Student list</ion-button><br>
    <ion-button color="primary" vertical="bottom" [routerLink]="['/login']"  >Logout</ion-button>
  
    
    </ion-content>
  </ion-menu> -->
    <ion-router-outlet ></ion-router-outlet>
</ion-app>

