ion-content{
    --background:var(--ion-color-dark-tint);
}

.card{
    
    justify-content:center;
    align-items:center;
    height:100%;
    
    
    }

ion-card-title{
    text-align:center ;
}

ion-card{
    
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    
}
// ion-avatar{
    
//     margin-left: 130px;
//     margin-bottom: 20px;
// }

