// ion-content{
//      --background:var(--ion-color-medium-shade);
//  }

.card{
    
    justify-content:center;
    align-items:center;
    height:100%;
    
    
    }

ion-card-title{
    text-align:center ;
}

ion-card{
    
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    
}

ion-icon{
    color: rgb(147, 147, 245);
}